{% extends 'base.html' %}

{% block content %}
<div class="row mb-4">
  <h2 class="mb-4">Dashboard de {{ request.user.username }}</h2>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Tests Realizados</h5>
                    <p class="card-text display-6">{{ test  }}</p>
                </div>
            </div>
        </div>
      <table class="table table-hover table-bordered table-striped text-center align-middle mb-0">
        <thead class="table-dark">
          <tr>
            <th scope="col">
              Alumnos
              <br>
              <form method="GET" action="{% url 'dashboard_professor' %}">
              <select name="usuarios" class="form-label" onchange="this.form.submit()">
                <option>Filtrar</option>
                {% for nombre in nombres %}
                <option value="{{ nombre }}" {% if nombre == usuarios %}selected{% endif %}>
                  {{ nombre }}
                </option>
                {% endfor %}
                <option value="">Todos los Alumnos</option>
              </select>
              </form>
            </th>
            <th scope="col">Fecha</th>
             <th scope="col">
              Titulo
              <br>
              <form method="GET" action="{% url 'dashboard_professor' %}">
                <input type="hidden" name="usuarios" value="{{ usuarios }}">
                <select name="titulo" id="titulo" class="form-label" onchange="this.form.submit()">
                  <option>Filtrar</option>
                   
                  {% for titulo in titulos %}
                      <option value="{{ titulo }}" class="form-select" {% if titulo == titulo_filtrado %}selected{% endif %}>{{ titulo }}</option>
                  {% endfor %}
                  <option value="">Ver todos</option>
                  </select>
              </form>   
              </th>
            <th scope="col">Aciertos</th>
            <th scope="col">Fallos</th>
            <th scope="col">Comentario</th>
            <th scope="col">Detalles</th>
           </tr>
        </thead>
        <tbody>
          {% for test_usuarios in test_usuarios %}
          <tr>
            <td>{{ test_usuarios.user }}</td>
            <td>{{ test_usuarios.fecha | date:"d/m/Y H:i"}} </td>
            <td class="fw-semibold">{{ test_usuarios.test_title }}</td>
            <td>{{ test_usuarios.aciertos }}</td>
            <td>{{ test_usuarios.fallos }}</td>
            <td>
              {% if test_usuarios.tiene_comentario %}
                <a href="{% url 'modificar' id=test_usuarios.id %}" class="btn btn-success">Comentado</a>
              {% else %}
                <a href="{% url 'comentarios' tests_id=test_usuarios.id %}" class="btn btn-danger">Sin Comentario</a>
              {% endif %}
            </td>
            <td><a href="{% url 'detalle_resultado_test' test_usuarios.id %}" class="btn btn-outline-primary btn-sm">Ver</a></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="text-muted fst-italic">No has realizado ningún test aún.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
