{% extends "base.html" %}
{% block content %}
<h1>{{ test.title }}</h1>
<p>{{ test.description }}</p>

<form method="post" action="{% url 'guardar_respuestas' %}">
  {% csrf_token %}

  {% for pregunta in test.questions %}
  <div class="pregunta">
    <p>Pregunta: {{ pregunta.id }}</p>
    <p>{{ pregunta.question }}</p>
    <ul>
      {% for opcion in pregunta.options %}
      <ul>
        <label>
          <input type="radio" name="pregunta_{{ pregunta.id }}" value="q{{ pregunta.id }}_a{{ opcion.id }}">
          {{opcion.text}}
        </label>
      </ul>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
  <button type="submit">Enviar respuestas</button>
</form>
{% endblock %}